@model IEnumerable<ThuongMaiDienTu.Models.BestSeller>
<div class="background">
    <h3 class="text-title">TOP 10 SẢN PHẨM BÁN CHẠY NHẤT</h3>
    <table class="table table-hovered table-striped">
        <thead class="bg-primary">
            <tr>
                <th class="text-center">
                    Mã SP
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th class="text-center">
                    Hình ảnh
                </th>
                <th class="text-center">
                    Đơn giá
                </th>
                <th class="text-center">
                    Đã bán
                </th>
                <th class="text-center">
                    Tỉ lệ
                </th>
                <th class="text-center">
                    Tổng
                </th>
                <th></th>
</thead>

        @foreach (var item in Model.Take(10))
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="text-center">
                    <img src="@Url.Content(item.Image)" style="height: 50px; width: auto; " id="previewImage" />
                </td>
                <td class="text-center">
                    @item.Price.Value.ToString("N0")
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DaBan)
                </td>
                <td class="text-center">
                    @{
                        int sl = item.DaBan.GetValueOrDefault();
                        var tong = Model.Sum(s => s.DaBan);
                        double tile = Math.Round((double)(sl * 100) / (double)tong, 2);

                    }
                    @tile %
                </td>
                <td style="color: red" class="text-center">
                    @item.TongTien.Value.ToString("N0")
                </td>
                <td class="text-center">
                    @Html.ActionLink("Chi tiết", "Detail", "Product", new { id = item.ProductID }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }

    </table>
</div>

