@model ThuongMaiDienTu.Models.Cart
@{
    ViewBag.Title = "3RINGS | Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    double VAT = Model.Total_Money() * 0.1;
    double shippingCost = 23000;
    double discount = 0;
    if (Session["RankID"] != null)
    {

        int id = Convert.ToInt32(Session["RankID"]);
        if (id == 1)
        {
            shippingCost = 20000;
            discount = Model.Total_Money() * 0.02;
        }
        if (id == 2)
        {
            shippingCost = 20000;
            discount = Model.Total_Money() * 0.05;
        }
        if (id == 3)
        {
            shippingCost = 0;
            discount = Model.Total_Money() * 0.08;
        }
        if (id == 4)
        {
            shippingCost = 0;
            discount = Model.Total_Money() * 0.1;
        }
    }
    double tongtien = Model.Total_Money() + shippingCost + VAT - discount;
}
<head>
    <script>
        function myFunction() {
            var x = document.getElementById("Order");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>
<body>
    @if (Model.Total_Money() != 0)
    {
        <div class="container">
            <div class="product-header" style="margin-bottom: 20px">
                GIỎ HÀNG CỦA BẠN
            </div>
            <div style="overflow-x: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr class="bg-primary">
                            <th>
                                Tên sản phẩm
                            </th>
                            <th class="text-center">
                                Hình ảnh
                            </th>
                            <th class="text-center">
                                Giá
                            </th>
                            <th class="text-center">
                                Số lượng
                            </th>
                            <th class="text-center">
                                Tổng tiền
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            double total = Convert.ToDouble(item._shopping_product.Price.Value * item._shopping_quantity);
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item._shopping_product.FullName)
                                </td>
                                <td class="text-center">
                                    <img src="@Url.Content(item._shopping_product.Image)" style="height:50px; width: auto;" />
                                </td>
                                <td class="text-center">
                                    @item._shopping_product.Price.Value.ToString("N0")
                                </td>
                                @using (Html.BeginForm("cap-nhat-so-luong", "ShoppingCart"))
                                {
                                    <td class="text-center">
                                        <input type="hidden" value="@item._shopping_product.ProductID" name="ID_Product" />
                                        <input class="so-luong" min="1" max="5" type="number" value="@item._shopping_quantity" name="Quantity" />
                                        <button class="btn-update" type="submit" style="margin-left: 0px;"><i class="fas fa-sync-alt"></i></button>
                                    </td>

                                }
                                <td class="text-center">
                                    @total.ToString("N0")
                                </td>
                                <td>
                                    <a href="@Url.Action("xoa-san-pham", "ShoppingCart", new { id = item._shopping_product.ProductID})"><i class="far fa-trash-alt" style="color: red;"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="bg-primary">
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-center" style="color: #ffffff; font-weight: bold; font-size: 20px;">@Model.Total_Quantity() sản phẩm</td>
                            <td class="text-center" style="color: #ffffff; font-weight: bold; font-size: 20px;">@Model.Total_Money().ToString("N0") <sup>đ</sup></td>
                            <td>
                                <button onclick="myFunction()" class="btn btn-success" style="margin: 0;"><i class="fas fa-sort-down"></i></button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="container">
            <div id="Order" style="display: none;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="product-header text-center" style="margin-bottom: 20px">
                                ĐƠN HÀNG CỦA BẠN
                            </div>
                            <div class="jumbotron">
                                <table class="table">
                                    <tbody>
                                        @foreach (var item in Model.Items)
                                        {
                                            double total = Convert.ToDouble(item._shopping_product.Price.Value * item._shopping_quantity);
                                            <tr>
                                                <td class="text-center">
                                                    <img src="@Url.Content(item._shopping_product.Image)" style="height:50px; width: auto;" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item._shopping_product.ProductName)
                                                </td>

                                                <td class="text-center">
                                                    @item._shopping_product.Price.Value.ToString("N0")
                                                </td>
                                                <td class="text-center">
                                                    x @item._shopping_quantity
                                                </td>
                                                <td class="text-center">
                                                    @total.ToString("N0")
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td>@Model.Total_Quantity() sản phẩm</td>
                                            <td class="text-center">@Model.Total_Money().ToString("N0") <sup>đ</sup></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td>VAT</td>
                                            <td class="text-center">@VAT.ToString("N0") <sup>đ</sup></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td>Phí vận chuyển</td>
                                            <td class="text-center">@shippingCost.ToString("N0") <sup>đ</sup></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td>Giảm giá</td>
                                            <td class="text-center">@discount.ToString("N0") <sup>đ</sup></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td style="color: red; font-weight: bold; font-size: 20px;">Thành tiền</td>
                                            <td class="text-center" style="color: red; font-weight: bold; font-size: 20px;">@tongtien.ToString("N0") <sup>đ</sup></td>

                                        </tr>
                                    </tfoot>
                                </table>
                                <h4>Hình thức thanh toán</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="payment" value="COD" checked>
                                        Thanh toán khi nhận hàng
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="payment" value="Paypal">
                                        Thanh toán online qua Paypal
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-header text-center" style="margin-bottom: 20px">
                                THÔNG TIN KHÁCH HÀNG
                            </div>
                            <div id="paymentCOD" class="desc">
                                @using (Html.BeginForm("CheckOut", "ShoppingCart"))
                                {
                                    if (Session["UserID"] == null)
                                    {
                                        <div class="jumbotron">
                                            <form class="form-inline">

                                                <div class="form-group">
                                                    <input type="text" required class="form-control" name="FullName" placeholder="Họ và tên">
                                                </div>
                                                <div class="form-group">
                                                    <input type="tel" required class="form-control" name="PhoneNumber" placeholder="Số điện thoại">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" required class="form-control" name="Email" placeholder="Email">
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" required class="form-control" name="ShippingAddress" placeholder="Địa chỉ giao hàng">
                                                </div>
                                                <div class="form-group">
                                                    <textarea rows="4" type="text" class="form-control" name="Note" placeholder="Ghi chú"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-success" style="display: block; margin: auto;">Đặt hàng</button>

                                            </form>
                                        </div>
                                    }
                                    else
                                    {

                                        var email = Session["UserEmail"].ToString();
                                        var name = Session["UserName"].ToString();
                                        var phone = Session["PhoneNumber"].ToString();
                                        <div class="jumbotron">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" disabled value="@name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="tel" class="form-control" disabled value="@phone">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" disabled value="@email">
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="ShippingAddress" required placeholder="Địa chỉ giao hàng">
                                                </div>
                                                <div class="form-group">
                                                    <textarea rows="4" type="text" class="form-control" name="Note" placeholder="Ghi chú"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-success" style="display: block; margin: auto;">Đặt hàng</button>
                                            </form>
                                        </div>
                                    }

                                }
                            </div>
                            <div id="paymentPaypal" class="desc" style="display: none">
                                @using (Html.BeginForm("PaymentWithPaypal", "Home"))
                                {
                                    if (Session["UserID"] == null)
                                    {
                                        <div class="jumbotron">
                                            <form class="form-inline">

                                                <div class="form-group">
                                                    <input type="text" required class="form-control" name="FullName" placeholder="Họ và tên">
                                                </div>
                                                <div class="form-group">
                                                    <input type="tel" required class="form-control" name="PhoneNumber" placeholder="Số điện thoại">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" required class="form-control" name="Email" placeholder="Email">
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" required class="form-control" name="ShippingAddress" placeholder="Địa chỉ giao hàng">
                                                </div>
                                                <div class="form-group">
                                                    <textarea rows="4" type="text" class="form-control" name="Note" placeholder="Ghi chú"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary text-center" style="display: block; margin: auto;">Thanh toán Paypal</button>

                                            </form>
                                        </div>
                                    }
                                    else
                                    {

                                        var email = Session["UserEmail"].ToString();
                                        var name = Session["UserName"].ToString();
                                        var phone = Session["PhoneNumber"].ToString();
                                        <div class="jumbotron">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" disabled value="@name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="tel" class="form-control" disabled value="@phone">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" disabled value="@email">
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="ShippingAddress" required placeholder="Địa chỉ giao hàng">
                                                </div>
                                                <div class="form-group">
                                                    <textarea rows="4" type="text" class="form-control" name="Note" placeholder="Ghi chú"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary" style="display: block; margin: auto;">Thanh toán Paypal</button>
                                            </form>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="btn btn-info">Tiếp tục mua sắm <i class="fas fa-cart-plus"></i></a>
        </div>
    }
    else
    {
        <div class="container">
            <div class="product-header" style="margin-bottom: 20px">
                GIỎ HÀNG CỦA BẠN
            </div>
            <div class="thumbnail text-center"><h4 style="padding: 20px">Giỏ hàng trống</h4></div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-info">Tiếp tục mua sắm <i class="fas fa-cart-plus"></i></a>
        </div>
    }
</body>
<script>
    $(document).ready(function () {
        $("input[name$='payment']").click(function () {
            var test = $(this).val();

            $("div.desc").hide();
            $("#payment" + test).show();
        });
    });
</script>

