@model IEnumerable<ThuongMaiDienTu.Models.Order>

<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th class="text-center">
                Mã đơn hàng
            </th>
            <th class="text-center">
                Khách hàng
            </th>
            <th class="text-center">
                Ngày mua
            </th>
            <th class="text-center">
                Ngày nhận
            </th>
            <th>
                Địa chỉ giao hàng
            </th>
            <th class="text-center">
                Trạng thái
            </th>
            <th class="text-center">
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @item.OrderID
                </td>
                <td class="text-center">
                    @item.FullName
                </td>
                <td class="text-center">
                    @item.OrderDate
                </td>
                <td class="text-center">
                    @item.RecieveDate
                </td>
                <td>
                    @item.ShippingAddress
                </td>
                <td class="text-center">
                    @item.OrderStatu.StatusName
                </td>
                <td class="text-center">
                    @Html.ActionLink("Chi tiết", "OrderDetail", "Order", new { id = item.OrderID }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>