@model IEnumerable<ThuongMaiDienTu.Models.Product>
@{
    ViewBag.Title = "3RINGS | Điện thoại iPhone";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

}
<body>
    @Html.Partial("Carousel", "Shared")
    <div class="container">
        <div class="row-no-gutters">
            <div class="col-md-2 col-sm-4 col-xs-4 boder">
                <a href="@Url.Action("dien-thoai-apple", "Home")">
                    <img class="img-responsive" src="~/Content/Image/Logo/apple logo.jpg" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 boder">
                <a href="@Url.Action("dien-thoai-samsung", "Home")">
                    <img class="img-responsive" src="~/Content/Image/Logo/samsung logo.jpg" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 boder">
                <a href="@Url.Action("dien-thoai-oppo", "Home")">
                    <img class="img-responsive" src="~/Content/Image/Logo/oppo logo.png" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 boder">
                <a href="@Url.Action("dien-thoai-vivo", "Home")">
                    <img class="img-responsive" src="~/Content/Image/Logo/vivo logo.jpg" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 boder">
                <a href="@Url.Action("dien-thoai-xiaomi", "Home")">
                    <img class="img-responsive" src="~/Content/Image/Logo/xiaomi logo.jpg" />
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4 boder active">
                <a href="@Url.Action("dien-thoai-realme", "Home")">
                    <img class="img-responsive" src="~/Content/Image/Logo/realme logo.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4 col-lg-3">
            <div class="product-header">
                LỌC KẾT QUẢ
            </div>
            <div class="thumbnail" style="margin-top: 20px; padding: 20px">
                @using (Html.BeginForm("dien-thoai-realme", "Home"))
                {
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Price", "All", true)
                            Tất cả mức giá
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Price", "option2")
                            Dưới 5 triệu
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Price", "option3")
                            Từ 5 - 10 triệu
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Price", "option4")
                            Từ 10 - 15 triệu
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            @Html.RadioButton("Price", "option5")
                            Trên 15 triệu
                        </label>
                    </div>
                    <input type="submit" class="btn btn-default" style="display: block; margin: auto" value="Lọc" />
                }
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="product-header">
                ĐIỆN THOẠI REALME NỔI BẬT
            </div>
            @if (Model.Count() == 0)
            {
                <div class="jumbotron text-center" style="margin-top: 20px">
                    <h4>Không tìm thấy sản phẩm phù hợp</h4>
                </div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="row-no-gutters">
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6">
                            <div class="card">
                                <a href="@Url.Action("chi-tiet-san-pham", "Home", new { name = item.ProductName })">
                                    <img alt="@Url.Content(item.FullName)" src="@Url.Content(item.Image)" class="img-responsive" />
                                    <p class="product-name">@item.ProductName</p>
                                </a>
                                <p class="product-price">@item.Price.Value.ToString("N0")<sup> đ</sup></p>
                                <a onclick="addtocart()" href="/ShoppingCart/AddToCart/@item.ProductID" class="btn btn-primary"><i class="fas fa-cart-plus" style="margin-right: 10px"></i>Giỏ hàng</a>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</body>

